.popup {
    width: 100%;
    height: 100%;
    /*display: none;*/
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);

    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s linear, visibility 0s;
}