.footer__copyright {
    font-family: Inter, serif;
    font-weight: 400;
    line-height: 22px;
    font-size: 18px;
    color: rgba(84, 84, 84, 1);
    margin: 0;
}

@media screen and (max-width: 320px){
    .footer__copyright {
        line-height: 17px;
        font-size: 14px;
    }
}