.profile__button-unusual {
    align-self: center;
    padding-top: 13px;
    height: 24px;
    width: 24px;
    line-height: 22px;
}

@media screen and (max-width: 767px) {
    .profile__button-unusual {
        padding: 0;
        height: 18px;
        width: 18px;
    }
}