.popup__container {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
    align-self: center;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    margin: 0 auto;
    width: 430px;
    padding: 0 36px;
}

@media screen and (max-width: 767px) {
    .popup__container {
        width: 282px;
        padding: 0 22px;
    }
}