@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);

.page {
    max-width: 1280px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    background-color: #000;
    color: #FFF;
    font-family: Inter, serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

.wrapper {
    max-width: 880px;
    margin: 0 200px;
}

@media screen and (max-width: 1279px){
    .wrapper {
        max-width: min-content;
        margin: 0 auto;
    }
}

@media screen and (max-width: 767px){
    .wrapper {
        max-width: none;
        margin: 0;
    }
}

.button-reset {
    background: none;
    border: none;
}

.button {
    background-color: rgba(0 ,0 ,0 , 1);
    border-style: none;
    padding: 0;
}

.button:hover {
    opacity: .6;
}

.header {
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
    margin: 45px 0 41px;
    max-width: 173px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .header__logo {
        margin: 28px 0 32px 27px;
    }

}

.profile {
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .profile {
        flex-flow: column nowrap;
        justify-content: center;
        margin-top: 42px;
    }
}



.profile__avatar {
    content: url("../images/profile-image.jpg");
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.profile__info {
    margin-left: 30px;
    align-self: flex-start;
}

@media screen and (max-width: 1279px) {
    .profile__info {
        max-width: 282px;
    }
}

@media screen and (max-width: 767px) {
    .profile__info {
        margin: 30px auto 0;
    }
}


.profile__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__hero {
    font-weight: 500;
    line-height: 48px;
    font-size: 42px;
    margin: 22px 18px 0 0;
}

@media screen and (max-width: 767px) {
    .profile__hero {
        margin: 0 10px 0 0;
        line-height: 27px;
        font-size: 22px;
    }
}


.profile__role {
    font-weight: 400;
    line-height: 22px;
    font-size: 18px;
    margin: 16px 0 0 0;
}

@media screen and (max-width: 767px) {
    .profile__role {
        line-height: 17px;
        font-size: 14px;
        margin: 14px auto 0;
        text-align: center;
    }
}

.profile__button {
    height: 50px;
    min-width: 150px;
    border: 2px solid #fff;
    margin-left: auto;
    cursor: pointer;
}

@media screen and (max-width: 1279px) {
    .profile__button {
        margin-left: 25px;
        width: 282px;
    }
}

@media screen and (max-width: 767px) {
    .profile__button {
        margin: 36px auto 36px;
        width: 282px;
    }
}

.profile__button-unusual {
    align-self: center;
    padding-top: 13px;
    height: 24px;
    width: 24px;
    line-height: 22px;
}

@media screen and (max-width: 767px) {
    .profile__button-unusual {
        padding: 0;
        height: 18px;
        width: 18px;
    }
}

.profile__image-btn-edit {
    height: 24px;
    width: 24px;
    position: relative;
}

@media screen and (max-width: 767px) {
    .profile__image-btn-edit {
        height: 18px;
        width: 18px;
    }
}


.popup {
    width: 100%;
    height: 100%;
    display: none;
}

.popup_opened{
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
}

.popup__container {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
    align-items: flex-start;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 430px;
    margin-top: -165px;
    margin-left: -215px;
    padding: 0 36px;
}

@media screen and (max-width: 767px) {
    .popup__container {
        top: 259px;
        left: 50%;
        width: 282px;
        height: 322px;
        margin-left: -141px;
        padding: 0 22px;
    }
}

.popup__title {
    margin: 34px 0 54px 0;
    line-height: 29px;
    font-size: 24px;
    font-weight: 900;
}

.popup__item {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: 100%;
    line-height: 17px;
    font-size: 14px;
    font-weight: 400;
    padding: 0 0 14px 0;
}

.popup__item:first-of-type {
    margin-bottom: 30px;
}

.popup__button-smbt {
    margin-top: 48px;
    margin-bottom: 36px;
    padding: 14px 0 18px 0;
    width: 100%;
    border-style: none;
    text-decoration: 0;
    line-height: 22px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    background-color: #000;
    border-radius: 2px;
}

.popup__button-smbt:hover {
    opacity: .8;
    cursor: pointer;
}

.popup__button {
    position: absolute;
    top: -55px;
    right: -45px;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .popup__button {
        height: 26px;
        width: 26px;
        top: -30px;
        right: 0;
    }
}

.popup__button:hover {
    opacity: .6;
}

.popup__button-cancel {
    height: 40px;
    width: 100%;
    color: transparent;
}

.elements {
    margin-top: 50px;
}

@media screen and (max-width: 767px) {
    .elements{
        margin: 0 19px;
    }
}

.elements__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 17px;
    grid-row-gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1279px) {
    .elements__items {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .elements__items {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
    }
}

.elements__item {
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    color: #000;
}

@media screen and (max-width: 1279px) {
    .elements__item {
       max-width: none;
    }
}

.elements-grid__image {
    vertical-align: bottom;
}

@media screen and (max-width: 1279px) {
    .elements-grid__image {
        width: 100%;
    }
}

.elements__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


.elements__description {
    font-family: Inter, serif;
    font-weight: 900;
    line-height: 29px;
    font-size: 24px;
    margin-left: 21px;
}

.elements__button-heart {
    background-image: url("../images/button-heart.svg");
    background-repeat: no-repeat;
    width: 21px;
    height: 19px;
    padding: 0;
    border: none;
    background-color: unset;
    margin-right: 15px;
}

.elements__button-heart:hover {
    opacity: 0.5;
    cursor: pointer;
}

.elements__button-heart:active {
    background-image: url("../images/button-heart_active.svg");
    opacity: 1;
}

.footer {
    margin: 67px 0 60px 0;
}

@media screen and (max-width: 767px) {
    .footer {
        margin: 50px 19px 36px;
    }
}

.footer__copyright {
    font-family: Inter, serif;
    font-weight: 400;
    line-height: 22px;
    font-size: 18px;
    color: rgba(84, 84, 84, 1);
    margin: 0;
}