.profile__info {
    margin-left: 30px;
    align-self: flex-start;
}

@media screen and (max-width: 1279px) {
    .profile__info {
        max-width: 282px;
    }
}

@media screen and (max-width: 767px) {
    .profile__info {
        margin: 30px auto 0;
    }
}