.elements__grid-image {
    vertical-align: bottom;
    width: 100%;
    height: 282px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media screen and (max-width: 1279px) {
    .elements__grid-image {
        width: 100%;
    }
}